/* Helper functions */
/* Table colors */
/* Button colors */
/* Form colors */
/* Mixins */
/* Use border-box */
/* line 117, ../sass/app.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 124, ../sass/app.scss */
html, body {
  height: 100%;
  background: #00406b;
  background: -moz-linear-gradient(top, #00406b 0%, #005c99 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00406b), color-stop(100%, #005c99));
  background: -webkit-linear-gradient(top, #00406b 0%, #005c99 100%);
  background: -o-linear-gradient(top, #00406b 0%, #005c99 100%);
  background: -ms-linear-gradient(top, #00406b 0%, #005c99 100%);
  background: linear-gradient(to bottom, #00406b 0%, #005c99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0 ); }

/* line 130, ../sass/app.scss */
body {
  margin: 0;
  /*	background-repeat: no-repeat;
      background-attachment: fixed;
  */
  font: 14px normal Helvetica, Arial;
  line-height: 1.2em;
  color: #333; }

/* line 142, ../sass/app.scss */
hr {
  margin-bottom: 2em;
  background-color: #888;
  color: #888; }

/* line 149, ../sass/app.scss */
h1 {
  font-size: 1.8em;
  margin: 0.5em; }

/* line 155, ../sass/app.scss */
table {
  margin: 1em 0;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  /* line 167, ../sass/app.scss */
  table thead tr {
    background: #cccccc; }
  /* line 172, ../sass/app.scss */
  table thead th {
    text-align: left;
    padding: 0.5em;
    color: #333333;
    border-bottom: 1px solid #cccccc; }
  /* line 184, ../sass/app.scss */
  table tbody tr {
    background: white;
    color: #333333; }
  /* line 190, ../sass/app.scss */
  table tbody tr:last-child td {
    border-bottom: 0; }
  /* line 195, ../sass/app.scss */
  table tbody tr td.controls {
    min-width: 7.14286em;
    text-align: right; }
  /* line 201, ../sass/app.scss */
  table tbody tr:nth-child(even) {
    background: #eeeeee;
    color: #333333; }
  /* line 207, ../sass/app.scss */
  table tbody td {
    padding: 0.2em 0.5em;
    vertical-align: middle;
    border-top: 1px solid #cccccc; }

/* line 216, ../sass/app.scss */
fieldset {
  margin: 1em 0 0 0;
  border: 0; }
  /* line 221, ../sass/app.scss */
  fieldset legend {
    margin-bottom: 1em;
    color: #888;
    font-size: 1.2em; }

/* line 229, ../sass/app.scss */
label {
  display: block;
  margin-bottom: 0.5em;
  vertical-align: middle; }

/* line 236, ../sass/app.scss */
label.text-right {
  text-align: left !important; }

/* line 241, ../sass/app.scss */
input[type=text] {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-width: 75%;
  padding: 0.5em;
  border: 1px solid #888888;
  vertical-align: middle; }

/* line 250, ../sass/app.scss */
button {
  border: 0; }

/* line 254, ../sass/app.scss */
.text-right {
  text-align: right; }

/* line 255, ../sass/app.scss */
.text-center {
  text-align: center; }

/* line 256, ../sass/app.scss */
.text-left {
  text-align: left; }

/* Buttons */
/* line 261, ../sass/app.scss */
.btn {
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0 );
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 0.4em 0.8em;
  margin: 0.2em 0.2em 0.2em 0;
  border: 1px solid #cccccc;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  color: #333333; }
  /* line 94, ../sass/app.scss */
  .btn:hover {
    background: #d4d4d4;
    background: -moz-linear-gradient(top, #d4d4d4 0%, #b3b3b3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4d4d4), color-stop(100%, #b3b3b3));
    background: -webkit-linear-gradient(top, #d4d4d4 0%, #b3b3b3 100%);
    background: -o-linear-gradient(top, #d4d4d4 0%, #b3b3b3 100%);
    background: -ms-linear-gradient(top, #d4d4d4 0%, #b3b3b3 100%);
    background: linear-gradient(to bottom, #d4d4d4 0%, #b3b3b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0 );
    border-color: #b3b3b3;
    cursor: pointer; }
  /* line 101, ../sass/app.scss */
  .btn.btn-small {
    padding: 0.2em 0.6em;
    margin: 0.1em 0.1em 0.1em 0;
    font-size: 0.9em; }
  /* line 108, ../sass/app.scss */
  .btn.btn-large {
    padding: 0.5em 1em;
    margin: 0.25em 0.25em 0.25em 0;
    font-size: 1.1em; }

/* line 266, ../sass/app.scss */
.btn-primary {
  background: #428bca;
  background: -moz-linear-gradient(top, #428bca 0%, #2a6496 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #428bca), color-stop(100%, #2a6496));
  background: -webkit-linear-gradient(top, #428bca 0%, #2a6496 100%);
  background: -o-linear-gradient(top, #428bca 0%, #2a6496 100%);
  background: -ms-linear-gradient(top, #428bca 0%, #2a6496 100%);
  background: linear-gradient(to bottom, #428bca 0%, #2a6496 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0 );
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 0.4em 0.8em;
  margin: 0.2em 0.2em 0.2em 0;
  border: 1px solid #2a6496;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  color: white; }
  /* line 94, ../sass/app.scss */
  .btn-primary:hover {
    background: #3071a9;
    background: -moz-linear-gradient(top, #3071a9 0%, #1f496e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3071a9), color-stop(100%, #1f496e));
    background: -webkit-linear-gradient(top, #3071a9 0%, #1f496e 100%);
    background: -o-linear-gradient(top, #3071a9 0%, #1f496e 100%);
    background: -ms-linear-gradient(top, #3071a9 0%, #1f496e 100%);
    background: linear-gradient(to bottom, #3071a9 0%, #1f496e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0 );
    border-color: #1f496e;
    cursor: pointer; }
  /* line 101, ../sass/app.scss */
  .btn-primary.btn-small {
    padding: 0.2em 0.6em;
    margin: 0.1em 0.1em 0.1em 0;
    font-size: 0.9em; }
  /* line 108, ../sass/app.scss */
  .btn-primary.btn-large {
    padding: 0.5em 1em;
    margin: 0.25em 0.25em 0.25em 0;
    font-size: 1.1em; }

/* line 271, ../sass/app.scss */
.btn-primary:hover {
  background: #6aa3d5;
  background: -moz-linear-gradient(top, #6aa3d5 0%, #357ebd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6aa3d5), color-stop(100%, #357ebd));
  background: -webkit-linear-gradient(top, #6aa3d5 0%, #357ebd 100%);
  background: -o-linear-gradient(top, #6aa3d5 0%, #357ebd 100%);
  background: -ms-linear-gradient(top, #6aa3d5 0%, #357ebd 100%);
  background: linear-gradient(to bottom, #6aa3d5 0%, #357ebd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0 );
  border-color: #357ebd; }

/* line 277, ../sass/app.scss */
.btn-danger {
  background: #ff3019;
  background: -moz-linear-gradient(top, #ff3019 0%, #990f00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #990f00));
  background: -webkit-linear-gradient(top, #ff3019 0%, #990f00 100%);
  background: -o-linear-gradient(top, #ff3019 0%, #990f00 100%);
  background: -ms-linear-gradient(top, #ff3019 0%, #990f00 100%);
  background: linear-gradient(to bottom, #ff3019 0%, #990f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0 );
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 0.4em 0.8em;
  margin: 0.2em 0.2em 0.2em 0;
  border: 1px solid #990f00;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  color: white; }
  /* line 94, ../sass/app.scss */
  .btn-danger:hover {
    background: #e51700;
    background: -moz-linear-gradient(top, #e51700 0%, #660a00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e51700), color-stop(100%, #660a00));
    background: -webkit-linear-gradient(top, #e51700 0%, #660a00 100%);
    background: -o-linear-gradient(top, #e51700 0%, #660a00 100%);
    background: -ms-linear-gradient(top, #e51700 0%, #660a00 100%);
    background: linear-gradient(to bottom, #e51700 0%, #660a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0 );
    border-color: #660a00;
    cursor: pointer; }
  /* line 101, ../sass/app.scss */
  .btn-danger.btn-small {
    padding: 0.2em 0.6em;
    margin: 0.1em 0.1em 0.1em 0;
    font-size: 0.9em; }
  /* line 108, ../sass/app.scss */
  .btn-danger.btn-large {
    padding: 0.5em 1em;
    margin: 0.25em 0.25em 0.25em 0;
    font-size: 1.1em; }

/* line 282, ../sass/app.scss */
.btn-danger:hover {
  background: #ff5e4c;
  background: -moz-linear-gradient(top, #ff5e4c 0%, #cc1400 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5e4c), color-stop(100%, #cc1400));
  background: -webkit-linear-gradient(top, #ff5e4c 0%, #cc1400 100%);
  background: -o-linear-gradient(top, #ff5e4c 0%, #cc1400 100%);
  background: -ms-linear-gradient(top, #ff5e4c 0%, #cc1400 100%);
  background: linear-gradient(to bottom, #ff5e4c 0%, #cc1400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0 );
  border-color: #cc1400; }

/* Errors and notices */
/* line 290, ../sass/app.scss */
#notification {
  display: none; }

/* line 294, ../sass/app.scss */
.comment, .error, .notice, .success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #ddd; }

/* line 296, ../sass/app.scss */
.error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4; }

/* line 297, ../sass/app.scss */
.notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324; }

/* line 298, ../sass/app.scss */
.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880; }

/* line 299, ../sass/app.scss */
.comment {
  background: #e6e6e6;
  color: #262626;
  border-color: #c6c66c;
  border-style: dotted; }

/* line 300, ../sass/app.scss */
.error a {
  color: #8a1f11; }

/* line 301, ../sass/app.scss */
.notice a {
  color: #514721; }

/* line 302, ../sass/app.scss */
.success a {
  color: #264409; }

/* Page elements */
/* line 308, ../sass/app.scss */
#container {
  margin: auto auto;
  max-width: 57.14286em;
  overflow: auto; }

/* line 315, ../sass/app.scss */
#main {
  max-width: 57.14286em;
  min-height: 500px;
  margin: 0.5em;
  padding: 1em;
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25); }

/* line 325, ../sass/app.scss */
h1#logo {
  text-align: center; }

/* line 330, ../sass/app.scss */
#edit-client-dialog {
  position: relative;
  margin-top: 1em;
  padding: 0 1em 1em 1em;
  border: 1px solid #888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* line 339, ../sass/app.scss */
#close-edit-dialog {
  position: absolute;
  right: 1em;
  top: 0.5em; }

/* line 346, ../sass/app.scss */
#spinner {
  margin: 1em; }

/* line 351, ../sass/app.scss */
.client .controls a {
  margin-left: 0.5em; }

@media only screen and (min-width: 600px) {
  /* line 358, ../sass/app.scss */
  label {
    line-height: 1.8em;
    margin-bottom: 0; }

  /* line 364, ../sass/app.scss */
  label.text-right {
    text-align: right !important; }

  /* line 369, ../sass/app.scss */
  input[type=text] {
    position: relative;
    display: inline-block; }

  /* line 374, ../sass/app.scss */
  input.small {
    min-width: 25%; }

  /* line 375, ../sass/app.scss */
  input.medium {
    min-width: 50%; }

  /* line 376, ../sass/app.scss */
  input.large {
    min-width: 75%; }

  /* line 377, ../sass/app.scss */
  input.full {
    min-width: 100%; }

  /* line 383, ../sass/app.scss */
  table td, table th {
    /* font-size: 0.8em; */ }

  /* line 390, ../sass/app.scss */
  #main {
    margin: 1em; }

  /* line 395, ../sass/app.scss */
  .btn {
    padding: 0.5em 1em; }

  /* line 400, ../sass/app.scss */
  .btn.btn-small {
    padding: 0.4em 0.8em; }

  /* line 405, ../sass/app.scss */
  .btn.btn-large {
    padding: 0.6em 1.2em; } }
/* Grid */
/* line 15, ../sass/grid.scss */
.row {
  display: block;
  max-width: 71.42857em;
  overflow: auto;
  clear: both;
  margin-bottom: 1em; }

/* line 6, ../sass/grid.scss */
.grid-1 {
  float: left;
  width: 7.33333%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 6, ../sass/grid.scss */
.grid-2 {
  float: left;
  width: 15.66667%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 6, ../sass/grid.scss */
.grid-3 {
  float: left;
  width: 24%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 6, ../sass/grid.scss */
.grid-4 {
  float: left;
  width: 32.33333%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 6, ../sass/grid.scss */
.grid-5 {
  float: left;
  width: 40.66667%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 6, ../sass/grid.scss */
.grid-6 {
  float: left;
  width: 49%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 6, ../sass/grid.scss */
.grid-7 {
  float: left;
  width: 57.33333%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 6, ../sass/grid.scss */
.grid-8 {
  float: left;
  width: 65.66667%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 6, ../sass/grid.scss */
.grid-9 {
  float: left;
  width: 74%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 6, ../sass/grid.scss */
.grid-10 {
  float: left;
  width: 82.33333%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 6, ../sass/grid.scss */
.grid-11 {
  float: left;
  width: 90.66667%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 6, ../sass/grid.scss */
.grid-12 {
  float: left;
  width: 99%;
  /* margin-right: if($collapse, emCalc($gutter / 2), $gutterEm);  */
  margin-right: 0.71429em; }

/* line 28, ../sass/grid.scss */
.last {
  margin-right: 0 !important; }
